* {
    padding: 0;
    margin: 0;
    
}
h1 {
    padding: 24px;
    align-items: center;
    display: block;
    left: 50%;
    text-align: center;
    font-size: 48px;
    background-color: aqua;
}